.sign__combo__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  font-size: 15px;
  padding: 64px;
}

.sign__combo__message p {
  margin: 20px 0;
}

.sign__combo__message button {
  background-color: var(--blue);
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  color: var(--white);
  height: 60px;
  max-width: 320px;
  width: 100%;
  cursor: pointer;
}

.img--sign {
  width: unset;
  width: 80%;
}

@media (min-width: 820px) {
  .sign__combo__container {
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
  }

  .sign__combo__message {
    width: 100%;
    max-width: 700px;
    font-size: 20px;
  }

  .img--sign {
    width: 50%;
  }
}
