@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --black: #040714;
  --white: #fff;
  --blue: #0063e5;
}

body {
  background-color: var(--black);
  color: var(--white);
}

/* Normalize */
ul {
  list-style: none;
}

img {
  width: -webkit-fill-available;
}