* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #040714;
  --white: #fff;
}

body {
  background-color: var(--black);
  color: var(--white);
}

/* Start Combo Style */
.combo__container {
  background-image: url("assets/images/background_mobile.jpeg");
  background-size: cover;
  width: 100%;
  height: 500px;
}

.img--combo {
  width: 180px;
  height: 75px;
}

img {
  width: 50px;
}

@media (min-width: 720px) {
  .combo__container {
    background-image: url("assets/images/background_desktop.jpeg");
  }
}

/* End Combo Style */

/* Start Your Way Style */
/* End Your Way Style */