* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #040714;
  --white: #fff;
  --blue: #0063e5;
}

body {
  background-color: var(--black);
  color: var(--white);
}

/* Normalize */
ul {
  list-style: none;
}

img {
  width: -webkit-fill-available;
}